@charset "UTF-8";
#section-news > a::after, .link-dark::after,
.link-google::after,
.link-trustpilot::after, #section-services > a::after, #section-hero a::after {
  content: "→";
}

html {
  font-size: 16px;
}

body {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

#footer-copy a,
#footer-nav a, #footer-main,
#footer-copy, #section-hero h2,
#section-hero p,
#section-hero a {
  color: #FFF;
}

#footer-copy ul,
#footer-nav ul, #partner-list ul,
#client-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-copy ul a,
#footer-nav ul a, #partner-list ul a,
#client-list ul a {
  text-decoration: none;
}

body {
  width: 100dvw;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
}

#site-header {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-areas: "logo icon menu" "search search search";
  align-items: center;
  padding: 1rem;
}

.header-logo {
  grid-area: logo;
  display: block;
  width: 100%;
  min-width: 100px;
  max-width: 402px;
  max-height: 70px;
}

.header-icon {
  grid-area: icon;
  height: 32px;
}

.header-menu {
  grid-area: menu;
  background-color: #212330;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
.header-menu svg {
  margin: 0;
  padding: 0;
}

.header-form {
  width: 100%;
  grid-area: search;
}
.header-form input {
  padding: 1rem;
  background-color: #e5e5e5;
  width: 100%;
}

nav {
  display: none;
}

#section-hero {
  display: grid;
  position: relative;
  z-index: -1;
  align-content: center;
  justify-items: center;
  height: 550px;
  background: url("../img/hero/hero-1.png");
  background-position: center;
}
#section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
#section-hero h2,
#section-hero p,
#section-hero a {
  margin: 1rem 0;
  padding: 0 1rem;
  text-align: center;
}
#section-hero h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}
#section-hero p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
#section-hero a {
  font-size: 1.25rem;
  padding: 5px 20px;
  background-color: #926fb1;
  line-height: 50px;
  text-transform: uppercase;
}
#section-hero div {
  display: none;
}

#section-services {
  padding: 50px 0 50px 0;
  display: grid;
  grid-template-columns: 1fr;
}
#section-services header {
  justify-self: left;
}
#section-services h2 {
  padding-left: 1rem;
  font-size: 2.7rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
#section-services > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333645;
  text-decoration: none;
  justify-self: center;
  margin: 25px 0 -75px 0;
}

.services-item {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 15px;
}
.services-item > div {
  border-radius: 50%;
  padding: 15px;
  width: 40px;
  height: 40px;
}
.services-item h3,
.services-item p {
  margin: 0;
  text-align: center;
}
.services-item h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  color: #333645;
  font-weight: 400;
  line-height: 1.1;
}
.services-item p {
  font-size: 0.8rem;
  line-height: 1.37;
}
.services-item a {
  color: white;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: 400;
  border: 1px solid transparent;
}

.service-default {
  background-color: #f7b322;
}
.service-dev {
  background-color: #526781;
}
.service-support {
  background-color: #286abd;
}
.service-marketing {
  background-color: #25a25a;
}
.service-telecoms {
  background-color: #bc2c28;
}
.service-webdesign {
  background-color: #79539a;
}
.service-security {
  background-color: #de093f;
}
.service-course {
  background-color: #a3331d;
}

#partner-list ul,
#client-list ul {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  flex-wrap: nowrap;
  width: 100dvw;
  min-width: 100%;
  overflow: hidden;
  align-items: center;
}
#partner-list li,
#client-list li {
  max-width: 100%;
  height: auto;
  min-width: -moz-max-content;
  min-width: max-content;
}
#partner-list img,
#client-list img {
  filter: grayscale(1);
}
#partner-list img:hover,
#client-list img:hover {
  filter: grayscale(0);
}

#section-partners {
  padding: 50px 0 50px 0;
}

#section-testimony {
  display: grid;
  gap: 2rem;
  padding: 50px 1rem;
  background-color: #323544;
}
#section-testimony h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 0 2rem;
  line-height: 1.1;
}
#section-testimony p {
  color: #fff;
  font-weight: 600;
  line-height: 1.875rem;
  margin-bottom: 20px;
}

.testimony-author {
  color: #a3a8ac !important;
}
.testimony-author a {
  text-decoration: none;
  color: #fff;
}

.link-dark,
.link-google,
.link-trustpilot {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: #212330;
  padding: 10px 30px;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  font-size: 20px;
  line-height: 35px;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.link-google {
  background-color: #4387f6;
}

.link-trustpilot {
  background-color: #00b67b;
}

#section-clients {
  padding-top: 3rem;
}

#section-news {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}
#section-news header {
  justify-self: left;
}
#section-news h2 {
  margin: 0 0 1rem 0;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
#section-news > a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333645;
  text-decoration: none;
  justify-self: center;
}

.news-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.news-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 3px;
}
.news-item img {
  width: 100%;
}
.news-item .news-footer {
  margin-top: 2rem;
  padding-top: 1rem;
}
.news-item .news-header,
.news-item .news-footer {
  position: relative;
  margin-bottom: 2rem;
}
.news-item h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}
.news-item h3 a {
  color: #4183d7;
  text-decoration: none;
}
.news-item p {
  color: #666;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8;
}
.news-item > h3, .news-item > p, .news-item > .news-readmore, .news-item > footer {
  margin: 0 2rem;
}
.news-item p {
  margin: 1rem 2rem;
}

.news-footer {
  border-top: 1px solid #ccc;
  display: grid;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-columns: min-content 1fr;
  grid-template-areas: "avatar posted" "avatar date";
}
.news-footer img {
  align-self: center;
  width: 45px;
  grid-area: avatar;
}
.news-footer p {
  color: #333645;
  margin: 0;
}
.news-footer p:first-of-type {
  grid-area: posted;
  font-weight: 600;
  align-self: baseline;
}

.news-type {
  position: absolute;
  right: 0;
  top: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: orange;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}

.news-readmore {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-weight: 400;
  padding: 15px 15px;
  text-transform: uppercase;
  border-radius: 3px;
}

article[data-news-type=insights] .news-type {
  background-color: #67809f;
}

article[data-news-type=insights] .news-readmore {
  background-color: #f7b322;
}

article[data-news-type=careers] .news-type,
article[data-news-type=careers] .news-readmore {
  background-color: #4183d7;
}

#footer-main,
#footer-copy {
  padding: 1rem;
}
#footer-main p,
#footer-copy p {
  margin: 0;
}

#footer-main {
  background-color: #323544;
}

#footer-copy {
  background-color: #212330;
}

#footer-main h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

#footer-copy,
#footer-nav {
  font-size: 0.8125rem;
  line-height: 1.375;
  margin: 0;
  padding: 0;
}
#footer-copy ul,
#footer-nav ul {
  font-size: 0.8125rem;
  line-height: 1.4;
}
#footer-logo img {
  width: 250px;
}

#footer-main img {
  display: block;
}

#footer-social div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
#footer-social a {
  background-color: #212330;
  display: inline-block;
  padding: 12px 3rem 16px;
}
#footer-social img {
  width: auto;
  height: 30px;
}/*# sourceMappingURL=style.css.map */