@use '../helpers/typography';

#partner-list,
#client-list {
    width: 99dvw;
    overflow: hidden;

    ul {
        @extend %link-list;
        display: flex;
        column-gap: 3rem;
        flex-wrap: nowrap;
        align-items: center;
    }

    li {
        max-width: 100%;
        height: auto;
        min-width: max-content;
    }

    img {
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}
