@use '../helpers/typography';

#partner-list,
#section-clients {
    overflow-x: clip;
}

#partner-list,
#client-list {
    width: 99dvw;

    ul {
        display: flex;
        column-gap: 90px;
        flex-wrap: nowrap;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            
            &:hover {
            text-decoration: underline;
            }
        }
    }

    li {
        width: 100%;
        height: auto;
        min-width: max-content;
    }

    img {
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}
