@use '../vars/color';
@use '../helpers/typography';

// ****
// ** Footer Text
// ****
#footer-main,
#footer-copy {
    color: color.$text--light;
    
    p {
        margin: 0;
    }
}

#footer-social {
    h4 {
        margin: 1rem 0 !important; 
    }
}

// ****
// ** Footer Backgrounds
// ****
#footer-main {
    padding: 2rem 1rem 0 1rem;
    color: color.$text--light;
    background-color: color.$brand--normal;
    overflow: hidden;
}

#footer-copy {
    padding: 1rem;
    color: color.$text--light;
    background-color: color.$brand--dark;
}

// ****
// ** Footer Link Lists
// ****
#footer-main h4{ 
    margin: 0 0 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

#footer-social,
#footer-about,
#footer-services,
#footer-industries,
#footer-locations {
    margin-bottom: 2rem;
}

#footer-copy,
#footer-nav {
    font-size: .8125rem;
    line-height: 1.375;

    ul {
        @extend %link-list;
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
    }

    a {
        color: color.$text--light;
    }
}

// ****
// ** Social Icons
// ****

#footer-logo img{
    width: 250px;
}

#footer-main img{
    display: block;
}

#footer-social {
    font-size: 26px;

    div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    
    a{
        color: #fff;
        background-color: color.$brand--dark;
        display: inline-block;
        width: 35%;
        padding: 12px 2rem;
        text-align: center;
    }

}