@use '../vars/color';

#site-header {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-areas: 
    "logo icon menu"
    "search search search";
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
}

.header-logo {
    grid-area: logo;
    display: block;
    width: 100%;
    min-width: 100px;
    max-width: 402px;
    max-height: 70px;
}

.header-icon {
    grid-area: icon;
    font-size: 32px;
}

.header-menu {
    grid-area: menu;
    background-color: color.$brand--dark;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    justify-content: center;
    border-radius: 3px;
    padding: 15px;
    height: 56px;
}

.menu-top,
.menu-middle,
.menu-bottom {
    content: "";
    background-color: color.$bg--light;
    display: block;
    padding: 2px 17px;
    overflow: hidden;
}


.header-form {
    width: 100%;
    grid-area: search;
    border-color: 1px solid color.$border--light;
    position: relative;
    input {
        padding: 5px 15px;
        height: 47px;
        background-color: color.$border--light;
        border: 2px solid rgba(0,0,0,.1);
        width: 100%;
        display: inline-block;
    }
    button {
        border: none;
        background-color: transparent;
        position:absolute;
        right: 5px;
        font-size: 20px;
        height: 100%;

    }
}

nav {
    display: none;
}