@use '../vars/color';
@use '../helpers/media-query' as mq;

//FIXME: No Cursor on full hover on nav

//FIXME: Search Input Styling without focus styling
#header-top {
    padding: 20px 0;
    background-color: color.$bg--light;
}

#header-top > div {
    display: grid;
    padding: 0 15px;
    grid-template-columns: 1fr repeat(2,max-content);
    grid-template-areas: 
    "logo icon menu"
    "search search search";
    column-gap: 1rem;
    row-gap: 11px;
    align-items: center;
}

#header-logo {
    grid-area: logo;
    display: block;
    width: 100%;
    min-width: 100px;
    max-width: 402px;
    max-height: 70px;
}

#header-icon {
    grid-area: icon;
    font-size: 32px;
}

#header-support {
    background-color: #4183d7;
    color: color.$text--light;
    grid-area: support;

    &:hover {
        background-color: #2a6ec6;
    }
}

#header-support,
#header-contact,
#header-form > button {
    &:hover{
        cursor: pointer;
    }
}

#header-contact {
    background-color: #999aa2;
    color: color.$text--light;
    grid-area: contact;

    &:hover{
        background-color: #84858f;
    }
}

#header-support, 
#header-contact {
    display: none;
    text-transform: uppercase;
    height: 55px;
    border-radius: 3px;
    padding: 0 1rem;
    line-height: 46px;
    font-size: 18px;

    p {
        display: inline-block;
        margin:  0;
    }
}

#header-menu {
    grid-area: menu;
    background-color: color.$brand--dark;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    justify-content: center;
    border-radius: 3px;
    padding: 15px;
    margin: 5px 0;
    height: 56px;

    &:hover {
        cursor: pointer;
    }
}

#menu-top,
#menu-middle,
#menu-bottom {
    content: "";
    background-color: color.$bg--light;
    display: block;
    padding: 2px 17px;
    overflow: hidden;
}

#header-form {
    width: 100%;
    grid-area: search;
    position: relative;

    input {
        padding: 5px 15px;
        height: 47px;
        background-color: color.$border--light;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border: 2px solid rgba(0,0,0,.1);
        width: 100%;
        display: inline-block;

        &:focus {
            box-shadow: 0 0 3px #fff;
            outline: 1px solid hsla(0, 0%, 100%, .2);
        }
    }

    button {
        border: none;
        background-color: transparent;
        position:absolute;
        right: 5px;
        font-size: 20px;
        height: 100%;
    }
}


@include mq.set-breakpoint('768') {
    #header-top > div {
        padding: 0 15px;
        margin: auto;

        grid-template-columns: 1fr repeat(2,max-content);
        grid-template-areas: 
        "logo search menu";
    }

    #header-logo {
        width: 345px;
    }

    #header-icon {
        display: none;
    }

    #header-form {
        input {
            height: 56px;
            width: 250px;
            border: 1px solid rgba(0,0,0,.1);
            background: color.$bg--light;

            &:focus {
                border-color: #5bc0de;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
            }           
        }

        button {
            right: 0px;
            padding: 7px 20px 7px;
            background-color: #999aa2;
            color: color.$text--light;
            font-size: 23px;
            border-radius: 0 3px 3px 0;

            &:hover {
                background-color: #84858f;
            }
        }
    }
}

@include mq.set-breakpoint('992') {
    #header-top > div {
        grid-template-columns: 1fr repeat(4,max-content);
        grid-template-areas: 
        "logo support contact search menu";
    }

    #header-logo {
        width: 100%;
    }

    #header-support, 
    #header-contact {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    #header-form {
        input {
            display: none;
        }

        button {
            border-radius: 3px;
            position: relative;
            height: 55px;
            padding: 0 15px;
        }
    }
}

@include mq.set-breakpoint('1260') {
    #header-form {
        input {
            display: inline-block;
            height: 55px;
        }

        button {
            position: absolute;
            height: 100%;
        }
    }
}