@use '../vars/color';
@use '../helpers/media-query' as mq;
@use '../helpers/typography';
@use 'sass:map';
@use 'sass:color' as sass-color;
@use '../vars/services';

#site-nav {
    display: none;
    background-color: color.$bg--normal;
    
    p {
        margin: 0;
        padding: 0;
        color: color.$text--light;
        text-transform: uppercase;
    }

    span {
        display: block;
        font-size: 10px;
    }

    @include mq.set-breakpoint('992') {

        display: block;

    }
}

#site-nav > .container {
    padding: 0 15px;
}

#site-nav > ul {
    margin: 0 auto;

    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;

    text-align: center; 
    
    list-style: none;

    > a {
        text-decoration: none;
        
        &:hover {
        text-decoration: underline;
        }
    }

    > li {
        padding: 15px 0;
        width: 100%;
    }

    i {
        font-size: 22px;
        padding-bottom: 10px;
    }
}

@each $service, $color in services.$list {

    .nav-#{$service} {
        &:hover,
        &:focus-within {

            background-color: $color;

            & > a,
            & > a > i {
                color: color.$text--light;
                text-decoration: none;
            }
            
            &::after {
                content: "";
                width: 0px;
                height: 0px;
                border-style: solid;
                border-color: $color transparent transparent transparent;
                transform: rotate(0deg);
                position: absolute;
                top: 100%;
                border-width: 35px 67.14px 0 67.14px;
                translate: -67.14px;

                @include mq.set-breakpoint('1260') {
                    border-width: 35px 83.57px 0 83.57px;
                    translate: -83.57px;
                }
            }

            .nav-dropdown-#{$service} {
                background-color: sass-color.scale($color, $lightness: -15%);
                display: flex;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                padding: 45px 0;
                justify-content: center;

                > div {
                    width: 1200px;
                }

                h2 {
                    text-align: left;
                }

            }
        }
    }

    .nav-#{$service} > a > i {
        color: $color;
    }

    .nav-dropdown-#{$service} {
        color: color.$text--light;
        display: none;

    }
}

.dropdown-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.dropdown-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    > li > a {
        display: block;
        color: color.$text--light;
        text-decoration: none;
        width: 100%;

        &:hover {
            text-decoration: underline;
        }
    }

    > li {
        width: 33%;
        margin-top: 15px;
        text-align: left;
    }

    i {
        margin-right: 1rem;
    }
}
