@use '../vars/color';
@use '../helpers/media-query' as mq;
@use '../helpers/typography';
@use 'sass:map';
@use 'sass:color' as sass-color;
@use '../vars/services';

#site-nav {
    display: none;
    background-color: color.$bg--normal;
    
    p {
        margin: 0;
        padding: 0;
        color: color.$text--light;
        text-transform: uppercase;
    }

    span {
        display: block;
        font-size: 10px;
    }

    @include mq.set-breakpoint('992') {

        display: block;

    }
}

#site-nav > .container {
    padding: 0 15px;
}

#site-nav > ul {
    @extend %link-list;
    margin: 0 auto;

    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;

    text-align: center; 

    > li {
        padding: 15px 0;
        width: 100%;
    }

    i {
        font-size: 22px;
        padding-bottom: 10px;
    }
}

@each $service, $color in services.$list {

    .nav-#{$service} {
        &:hover,
        &:focus-within {

            & > a,
            & > a > i {
                color: color.$text--light;
            }
            
            background-color: $color;

            .nav-dropdown-#{$service} {
                background-color: sass-color.scale($color, $lightness: -15%);
                display: flex;
                position: absolute;
                left: 0;
                min-width: 100dvw;
                padding: 45px 0;
                justify-content: center;

                > div {
                    width: 1200px;
                }

                h2 {
                    text-align: left;
                }

            }
        }
    }

    .nav-#{$service} > a > i {
        color: $color;
    }

    .nav-dropdown-#{$service} {
        margin-top: 15px;
        color: color.$text--light;
        display: none;

    }
}

.dropdown-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.dropdown-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;


    > li {
        width: 33%;
        margin-top: 15px;
        text-align: left;
    }
}