#section-services {
    padding: 50px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr;

    header {
        justify-self: left;
    }

    h2 {
        padding-left: 1rem;
        font-size: 2.7rem;
        font-weight: 400;
        margin: 0 0 1rem 0;
    }

    > a {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333645;
        text-decoration: none;
        justify-self: center;
        margin: 25px 0 -75px 0;
    }

}

.services-item {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    border-radius: 15px;

    > div {
        border-radius: 50%;
        padding: 15px;
        width: 40px;
        height: 40px;
    }

    h3,
    p {
        margin: 0;
        text-align: center;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        color: #333645;
        font-weight: 400;
        line-height: 1.1;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.37;
    }
    a {
        color: white;
        line-height: 35px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 5px 15px;
        font-weight: 400;
        border: 1px solid transparent;
    }

}

.service-{

    &default {
        background-color: $color-default;
    }

    &dev {
        background-color: $color-dev;
    }

    &support {
        background-color: $color-support;
    }
    
    &marketing {
        background-color: $color-marketing;
    }

    &telecoms {
        background-color: $color-telecoms;
    }

    &webdesign {
        background-color: $color-webdesign;
    }

    &security {
        background-color: $color-security;
    }

    &course {
        background-color: $color-course;
    }
}