// ****
// ** Import Vendor
// ****
@use 'vendor';

// ****
// ** Import Base
// ****
@use 'base';

// ****
// ** Import Layout
// ****
@use 'layout';

// ****
// ** Import Modules
// ****
@use 'modules';

//TODO: Banner Slider
// CSS Scroll Lock?
// Timer per scroll?

//TODO: Side Menu
//TODO: Mobile Menu
// Two Parts - Top with nav bar style listing and contact us button
//           - Top services section shortened when in mobile view
//           - bottom normal sidebar, support section in view until support button on nav shown
// 

//TODO: Sticky Header
//  Transistions down, when the user scrolls up or after a set amount of time idle?

//TODO: pop-up notifying the user the website uses cookies,
//this should store locally and prevent the pop-up reappearing on page reload

//TODO: Client + Partner Slider