@use '../vars/color';
@use '../helpers/media-query' as mq;
//TODO: Is it possible to make the darkbackground switch when a darkbackground is behind it?
#chat-icon {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #323544;
    color: #fff;
    z-index: 50;
    border: none;
    border-radius: 50%;
    padding: 1.2rem;
    font-size: 1.5rem;
}