@use '../vars/color';
@use '../helpers/media-query' as mq;
@use 'sass:color' as sass-color;

#cookies-btn-manage {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: color.$bg--light;
    color: color.$text--dark;
    z-index: 50;
}

#site-cookies {
    display: none;
}

#site-cookies.active {
    display: grid;
    position: fixed;
    height: 100%;
    min-height: 100dvh;
    z-index: 100;
    background: rgba(0,0,0,0.7);
    grid-template-columns: min(100%, 600px);
    justify-content: center;
    align-items: center;
}

#site-cookies > div {
    margin: 2rem;
    display: grid;
    background-color: white;
    border-radius: 5px;
}

#site-cookies > div > h2 {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 1.5rem;
    color: #333645;
}

#site-cookies > div > p {
    padding: 1.5rem;
    border: #ccc solid 1px;
    line-height: 1.7;
    margin: 0;
    color: #333645;

    a {
        text-decoration: none;
        line-height: 1.7;
        margin: 0;
        color: #333645;   
    }

    a:hover {
        text-decoration: underline;
    }
}

#site-cookies > div > div {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#cookies-btn-settings,
#cookies-btn-accept {
    display: block;
    color: color.$text--light;
    padding: .8rem;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 3px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

#cookies-btn-settings {
    background-color: #999AA2;

    &:hover {
        background-color: sass-color.scale(#999AA2, $lightness: -15%);
    }
}

#cookies-btn-accept {
    background-color: #926FB1;

    &:hover {
       
        background-color: sass-color.scale(#926FB1, $lightness: -15%);
    }
}