@use '../vars/color';
@use '../helpers/media-query' as mq;
@use 'sass:map';
@use 'sass:color' as sass-color;
@use '../vars/services';
#hero-list {
    height: 550px;
}

.hero-item {
    height: 100%;
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
    }

}

.hero-content {
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2,
    p,
    a {
        text-align: center;
        margin: 1rem 0;
        color: color.$text--light;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        text-align: center;
    }

    a {
        font-size: 1.25rem;
        padding: 5px 20px;
        line-height: 50px;
        text-transform: uppercase;
    }

}

#hero-scroll {
    display: none;
}

.hero-item[data-hero-num="4"] {
    background: url("../assets/img/hero/hero-4.png");
    background-position: top;
    background-size: cover;
}

@each $service, $color in services.$list {

    .news-more--#{$service} {
        background-color: $color;
        text-decoration: none;
    }

    .news-more--#{$service}:hover {
        background-color: sass-color.scale($color, $lightness: -15%);
        text-decoration: none;
    }

}

@include mq.set-breakpoint('992') {
    
    .hero-item::before {
        background: rgba(0,0,0,0.5) linear-gradient(270deg, transparent 25%, #000);
    }

    .hero-content {
        align-items: flex-start;

        h2 {
            font-size: 64px;
            line-height: 80px;
        }

        p {
            font-size: 26px;
            line-height: 48px;
            text-align: left;
        }
    }
    
}

@include mq.set-breakpoint('1260') {
    
    .hero-item::before {
        background: linear-gradient(270deg, transparent 25%, #000);
    }

}