// ****
// ** Forward Cookies Bar
// ****
@forward 'cookiesbar';

// ****
// ** Forward Header
// ****
@forward 'header';

// ****
// ** Forward Nav
// ****
@forward 'nav';

// ****
// ** Forward Sidebar
// ****
@forward 'sidebar';

// ****
// ** Forward Hero
// ****
@forward 'hero';

// ****
// ** Forward Services
// ****
@forward 'services';

// ****
// ** Forward Carousel
// ****
@forward 'carousel';

// ****
// ** Forward Partners
// ****
@forward 'partners';

// ****
// ** Forward Testimony
// ****
@forward 'about';

// ****
// ** Forward Partners
// ****
@forward 'clients';

// ****
// ** Forward News
// ****
@forward 'news';

// ****
// ** Forward Footer
// ****
@forward 'footer';

// ****
// ** Forward Chat
// ****
@forward 'chat';
