@use '../../vars/color';
@use '../../helpers/media-query' as mq;

#section-contact-us {
    padding-bottom: 50px;
}

#section-contact-us .container {
    display: grid;
    
    @include mq.set-breakpoint('1260') {
        grid-template-columns: repeat(3,1fr);
        gap: 30px;

        .contact-form-container {
            order: -1;
            grid-column: span 2;
        }
    }
}

.contact-text {

    grid-row: span 2;

    p {
        font-weight: 600;
        color: #333645;
        line-height: 1.875rem;
    }

    a {
        text-decoration: none;
        color: #926fb1;
        font-weight: 600;
        font-size: 1.625rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

.btn-ooh {
    all: unset;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.ooh-text {
    overflow: clip;
    transition: .5s ease-in-out;
    max-height: 0;

    &.active {
        max-height: 500px ;
    }

    p {
        font-weight: 400;

    }
}

.contact-form-container {
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;
}

.form-msg-area {
    grid-column: span 2;
}

%form-msg {
    display: grid;
    grid-template-columns: 1fr min-content;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
}

.form-msg-error {
    @extend %form-msg;
    background-color: #D64541;
}

.form-msg-success {
    @extend %form-msg;
    background-color: #2ECC71;
}

.form-msg-btn {
    all: unset;
    
    cursor: pointer;
}

.contact-form {
    display: grid;
    gap: 10px;

    @include mq.set-breakpoint('992') {
        grid-template-columns: repeat(2, 1fr);

        label[for="message"],
        label[for="marketing"],
        .form-footer {
            grid-column: span 2;
        }
    }

    label {
        font-weight: 600;
        color: #333645;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .required-icon {
        color: #d24d57;
    }

    input,
    textarea {
        padding: 5px 15px;
        border: 1px solid #ccc;
        width: 100%;
        padding: 6px 12px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: 
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;

        &:focus {
            border-color: #5bc0de;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
        }
    }

    .has-error {
        border-color: #d64541;
    }

    input {
        height: 47px;
    }

    textarea {
        min-height: 100px;
        height: 100px;
    }

    label[for="marketing"] {
        flex-direction: row;
        line-height: 32px;
        cursor: pointer;
        font-weight: 600;
        color: #333645;
        gap: 20px;
        display:grid;
        grid-template-columns: 30px auto;

        p {
            margin: 0;
            padding: 0;
        }

        a {
            color: inherit;
        }
    }

    label[for="marketing"] input[type="checkbox"] {
        appearance: none;
        background-color: transparent;
        margin: 0;
        width: 30px;
        height: 30px;
        border: 3px solid #333645;
        border-radius: 3px;
        display: grid;
        place-content: center;
        font-size: 22px;
        text-align: center;
        line-height: 1.41;
        cursor: pointer;
        
        @charset "UTF-8";
        &::before { 
            content: "\2713";
            width: 30px;
            height: 30px;
            color: white;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 30px 30px black;
        }

        &:checked::before {
            transform: scale(1);
        }
    }

    .form-footer {
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 10px;
        margin-top: 40px;

        @include mq.set-breakpoint('480'){
            grid-template-columns: max-content 1fr;

            small {
                justify-self: right;
                order: 2;
            }
        }

        button {
        color: #fff;
        background-color: #333645;
        border-color: #333645;
        height: auto;
        line-height: 35px;
        padding: 5px 15px;
        text-transform: uppercase;
        font-size: 1.063rem;
        border-radius: 3px;
        width: fit-content;
        cursor: pointer;

        &:hover {
            background-color: #22242e;
            border-color: #191a22;
        }
        }
    }
}
