@use '../vars/color';
@use '../helpers/typography';
@use '../helpers/media-query' as mq;
@use 'sass:map';
@use 'sass:color' as sass-color;
@use '../vars/services';

#section-clients {
    padding: 50px 0 50px 0;
}

#section-clients .embla__container {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#section-clients .embla__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    height: 70px;
}

#section-clients img {
    filter: grayscale(1);
    width: auto !important;
    max-height: 70px;
    max-width: 200px;
}

#section-clients img:hover {
    filter: grayscale(0);
}