// ****
// ** Forward Consent Bar
// ****
@forward 'consentbar';

// ****
// ** Forward Header
// ****
@forward 'header';

// ****
// ** Forward Nav
// ****
@forward 'nav';

// ****
// ** Forward Menu Button
// ****
@forward 'menubutton';

// ****
// ** Forward Breadcrumbs Bar
// ****
@forward 'breadcrumbs';

// ****
// ** Forward Sidebar
// ****
@forward 'sidebar';

// ****
// ** Forward Hero
// ****
@forward 'hero';

// ****
// ** Forward Services
// ****
@forward 'services';

// ****
// ** Forward Partners
// ****
@forward 'partners';

// ****
// ** Forward About
// ****
@forward 'about';

// ****
// ** Forward News
// ****
@forward 'news';

// ****
// ** Forward Clients
// ****
@forward 'clients';

// ****
// ** Forward Clients tooltip
// ****
@forward 'clients-tooltip';

// ****
// ** Forward Footer
// ****
@forward 'footer';

// ****
// ** Forward Chat
// ****
@forward 'chat';

// ****
// ** Forward Chat
// ****
@forward 'contact-us';
