#section-partners {
    padding: 50px 0 50px 0;

}
#section-partners .embla__container {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#section-partners .embla__slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
    height: 70px;
}

#section-partners img {
    filter: grayscale(1);
}

#section-partners img:hover {
    filter: grayscale(0);
}