#partner-list,
#client-list {
    ul {
        @extend %link-list;
        display: flex;
        flex-wrap: nowrap;
        width: 100dvw;
        min-width: 100%;
        overflow-x: scroll;
        align-items: center;
    }

    li {
        padding: 1rem 50px;
        max-width: 100%;
        height: auto;
        min-width: max-content;
    }

    img {
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}
