@use '../helpers/typography';

// #partner-list,
// #section-clients {
//     overflow-x: clip;
//     overflow-y: visible;
// }

#partner-list,
#client-list {
    width: 100%;
    max-width: 100vw;
    display: flex;
    column-gap: 90px;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    li {
        width: 100%;
        height: auto;
        min-width: max-content;
    }

    img {
        filter: grayscale(1);
    }

    img:hover {
        filter: grayscale(0);
    }
}
