#partner-list,
#client-list {
    ul {
        width: 95dvw;
        @extend %link-list;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        li {
            min-width: 0;
        }
    }
}
