@use '../vars/color';
@use '../helpers/typography';
@use '../helpers/media-query' as mq;
@use 'sass:map';
@use 'sass:color' as sass-color;
@use '../vars/services';

// #section-clients {
//     padding: 50px 0 50px 0;

//     img {
//         max-height: 70px;
//     }
// }

// #client-list > li {
//     position: relative;
//     display: flex;
// }

// [popover="hint"] {
//   inset: unset;
//   position: absolute;
//   bottom: anchor(top);
//   justify-self: anchor-center;
//   margin: 0;
//   border-radius: 6px;
//   background: transparent;
//   border: none;
//   overflow: hidden;
// }

// .client-inner {
//     background-color: #333645;
//     margin: 0 auto 45px;
//     flex-direction: column;
//     max-width: 280px;
//     padding: 20px;
//     display: flex;
//     align-items: center;
//     flex-wrap: nowrap;

//     h3 {
//         position: relative;
//         font-size: 1.125rem;
//         color: #fff;
//         padding-bottom: 17px;
        
//         margin: 0;
//     }

//     p {
//         color: #fff;
//         font-size: .8125rem;
//         line-height: 1.375rem;
//         margin: 0;
//         text-align: center;
//     }

//     a {
//         color: #fff;
//         display: flex;
//         align-items: center;
//         padding: 15px;
//         margin-top: 10px;
//         text-transform: uppercase;
//         border-radius: 3px;
//         gap: 5px;
//     }
// }

// .client-arrow {
//     color: white;
//     position: absolute;
//     height: 0;
//     bottom: 10px;

//     &::after {
//         content: "";
//         width: 0px;
//         height: 0px;
//         border-style: solid;
//         border-width: 40px 35px 0 35px;
//         border-color: #333645 transparent transparent transparent;
//         transform: rotate(0deg);
//     }
// }

// @each $service, $color in services.$list {

//     .client-link--#{$service} {
//         background-color: $color;
//         text-decoration: none;
//     }

//     .client-link--#{$service}:hover {
//         background-color: sass-color.scale($color, $lightness: -15%);
//         text-decoration: none;
//     }
// }
