// ****
// ** Footer Text
// ****
#footer-main,
#footer-copy {
    @extend %text--light;
    padding: 1rem;

    p {
        margin: 0;
    }
}

// ****
// ** Footer Backgrounds
// ****
#footer-main {
    @extend %text--light;
    background-color: $color-brand--normal;
}

#footer-copy {
    @extend %text--light;
    background-color: $color-brand--dark;
}

// ****
// ** Footer Link Lists
// ****
#footer-main h4{ 
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
}

#footer-copy,
#footer-nav {
    font-size: .8125rem;
    line-height: 1.375;
    margin: 0;
    padding: 0;

    ul {
        @extend %link-list;
        font-size: .8125rem;
        line-height: 1.4;
    }

    a {
        @extend %text--light;
    }
}

// ****
// ** Social Icons
// ****

#footer-logo img{
    width: 250px;
}

#footer-main img{
    display: block;
}

#footer-social {
    div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    
    a{
        background-color: $color-brand--dark;
        display: inline-block;
        padding: 12px 3rem 16px;
    }

    img {
        width: auto;
        height: 30px;
    }
}