#site-header {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-areas: 
    "logo icon menu"
    "search search search";
    align-items: center;
    padding: 1rem;
}

.header-logo {
    grid-area: logo;
    display: block;
    max-height: 70px;
}

.header-icon {
    grid-area: icon;
    height: 32px;
}

.header-menu {
    grid-area: menu;
    background-color: $color-brand--dark;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
        svg {
            margin: 0;
            padding: 0;  
        }
}

.header-form {
    width: 100%;
    grid-area: search;
    
    input {
        padding: 1rem;
        background-color: #e5e5e5;
        width: 100%;
    }
}

nav {
    display: none;
}