// ****
// ** Forward Consent Bar
// ****
@forward 'consentbar';

// ****
// ** Forward Header
// ****
@forward 'header';

// ****
// ** Forward Nav
// ****
@forward 'nav';

// ****
// ** Forward Menu Button
// ****
@forward 'menubutton';

// ****
// ** Forward Sidebar
// ****
@forward 'sidebar';

// ****
// ** Forward Hero
// ****
@forward 'hero';

// ****
// ** Forward Pagination
// ****
@forward 'hero-pagination';


// ****
// ** Forward Services
// ****
@forward 'services';

// ****
// ** Forward Carousel
// ****
@forward 'carousel';

// ****
// ** Forward Partners
// ****
@forward 'partners';

// ****
// ** Forward Testimony
// ****
@forward 'about';

// ****
// ** Forward Partners
// ****
@forward 'clients';

// ****
// ** Forward News
// ****
@forward 'news';

// ****
// ** Forward Footer
// ****
@forward 'footer';

// ****
// ** Forward Chat
// ****
@forward 'chat';
