.read-more {
    
}

#section-news {
    
    h2 {
        flex-grow: 100%;
        font-weight: bold;

        @extend %right-arrow;
    }
}

.container {
    display: flex;
    flex-direction: column;
}