#section-news {
    display: grid;
    grid-template-columns: 1fr;

    header {
        justify-self: left;
    }

    h2 {
        padding-left: 1rem;
        font-size: 2.7rem;
        font-weight: 400;
    }

    > a {
        @extend %right-arrow;
        font-size: 1.5rem;
        font-weight: 600;
        color: #333645;
        text-decoration: none;
        justify-self: center;
    }
}

.news-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.news-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    border-radius: 3px;

    img {
        width: 100%;
    }

    .news-footer {
        margin-top: 2rem;
        padding-top: 1rem;
    }

    .news-header,
    .news-footer {
        position: relative;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
    }

    h3 a{
        color: #4183d7;
        text-decoration: none;
    }

    p {
        color: #666;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.8;
    }

    & > h3,
    & > p,
    & > .news-readmore,
    & > footer { 
        margin: 0 2rem;
    }

    p {
        margin: 1rem 2rem;
    }
}

.news-footer {
    border-top: 1px solid #ccc;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: min-content 1fr;
    grid-template-areas: 
    "avatar posted"
    "avatar date";
    

    img {
        align-self: center;
        width: 45px;
        grid-area: avatar;
    }

    p {
        color: #333645;
        margin: 0;
    }

    & p:first-of-type {
        grid-area: posted;
        font-weight: 600;
        align-self: baseline;
    }
}

.news-type {
    position: absolute;
    right: 0;
    top: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: orange;
    color: $color-bg--light;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
}

.news-readmore {
    width: fit-content;
    color: #fff;
    font-weight: 400;
    padding: 15px 15px;
    text-transform: uppercase;
    border-radius: 3px;


}

article[data-news-type="insights"] .news-type {
    background-color: #67809f;
}

article[data-news-type="insights"] .news-readmore {
    background-color: $color-default;
}

article[data-news-type="careers"] .news-type,
article[data-news-type="careers"] .news-readmore {
    background-color: #4183d7;
}