#section-services {
    display: grid;
    grid-template-columns: 1fr;

    header {
        justify-self: left;
    }

    h2 {
        padding-left: 1rem;
        font-size: 2.7rem;
        font-weight: 400;
    }

    > a {
        @extend %right-arrow;
        font-size: 1.5rem;
        font-weight: 600;
        color: #333645;
        text-decoration: none;
        justify-self: center;
    }

}

.services-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    border: 1px solid #ccc;
    border-radius: 15px;

    > div {
        border-radius: 50%;
        background-color: blue;
        padding: 10px;
        width: 60px;
        height: 60px;
    }

    h3,
    p {
        text-align: center;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.7rem;
        color: #333645;
        font-weight: 400;
    }

    a {
        color: white;
        line-height: 35px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 5px 15px;
        background-color: tomato;
        font-weight: 400;
        border: 1px solid transparent;
    }
}