@use '../vars/color';
@use '../helpers/media-query' as mq;
@use 'sass:map';
@use '../vars/services';

#site-sidebar {
    background-color: color.$bg--normal;
    color: #fff;
    
    ul {
        list-style: none;
        margin: 0;
    }

    ul ul {
        padding:0;
    }

    ul ul li {

        &:not(:first-child) {
            border-top: 1px solid rgba(0, 0, 0, .45);

            a {
                border-top: 1px solid hsla(0, 0%, 100%, .05);
            }
        }
    }

    a:not(.sidebar-header, .sidebar-subheader) {
        background-color: rgba(0, 0, 0, .25);
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }
    }
}

.sidebar-top {
    padding: 1.5rem;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    a {
        font-size: 1rem;
        text-align: center;
        padding: .625rem;
        line-height: 1.4;
    }

    @include mq.set-breakpoint("992") {
        display: none;
    }
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    padding: 1rem;
    background-color: color.$bg--normal;

    &:hover {
        
        background-color: hsla(0, 0%, 100%, .05);
    }

    span {
        display: block;
        font-size: 0.7rem;
        padding-bottom: 0.2rem;
    }

    p {
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        color: #fff;
    }
}

@each $service, $color in services.$list {
    
    .sidebar-header[data-service="#{$service}"] {
            color: $color !important;
    }
}

.sidebar-bottom {
    padding: 0;
    font-size: 0.875rem;

    a {
        display: block;
        padding: 15px 20px;
    }

    .sidebar-icon {
        margin-right: 1rem;
        
    }

    .sidebar-subheader {
        padding: 20px;
        background-color: color.$bg--normal;
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .25);
        font-size: 1rem;
    }
}


#sidebar-services {
    display: none;

    @include mq.set-breakpoint("992") {
        display: block;
    }
}

#sidebar-support {
    display: block;

    @include mq.set-breakpoint("992") {
        display: none;
    }
}